{{!-- NAVBAR --}}
<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo"><img id="logo" src="/img/financrLogo.png"
				alt="logo"></a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
				class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="/">Home</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/budget">New Budget</a></li>
			<li><a href="/locations">Map</a></li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li><a href="/">Home</a></li>
	<li><a href="/profile">Profile</a></li>
	<li><a href="/budget">New Budget</a></li>
	<li><a href="/locations">Map</a></li>
</ul>