<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	{{!-- ICONS --}}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	{{!-- Jquery --}}
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Compiled and minified MATERIALIZE CSS -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Compiled and minified MATERIALIZE JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!--local CSS--->
	<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title"
		charset="utf-8">
	<!--local JS--->
	<script src="/js/profile.js"></script>
	<title>Financr - Profile</title>
</head>

<body>
	{{!-- NAVBAR --}}
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">Financr</a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
					class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/budget">New Budget</a></li>
				<li><a href="/locations">Map</a></li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-demo">
		<li><a href="/">Home</a></li>
		<li><a href="/profile">Profile</a></li>
		<li><a href="/budget">New Budget</a></li>
		<li><a href="/locations">Map</a></li>
	</ul>
	{{!-- NAVBAR --}}
	{{{body}}}
</body>

</html>