<h1>Expense PAGE</h1>

<div class="row">
    <form action="/api/add/expense" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input name="Address" id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Address</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input name ="Country" id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Country</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input name = "Amount" id="icon_telephone" type="int" class="validate">
          <label for="icon_telephone">Amount</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input name = "Category" id="icon_telephone" type="text" class="validate">
          <label for="icon_telephone">Category</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input name = "itemName" id="icon_telephone" type="text" class="validate">
          <label for="icon_telephone">Item Name</label>
        </div>
      </div>
      <button type="submit" id="submit"
				class="waves-effect waves-light btn-small"><i
					class="material-icons right">send</i>Submit</button>
    </form>
  </div>

	</div>
</div>
<script src="/js/expense.js"></script>