{{!-- <h1>HOME PAGE</h1> --}}
<div class="row">
  {{!-- <h1 id="heroText">Financr</h1> --}}
  <div class="parallax-container">
    <div class="parallax"><img src="https://www.europol.europa.eu/sites/default/files/images/finance_budget.jpg"></div>
  </div>
  <div class="section white">
    <div class="row">
    <div class="col s6">
      <h2 class="header">FINANCR</h2>
      <p class="grey-text text-darken-3 lighten-3 left-align">
        Financr is an expense tracking application. 
      </p>
      <p class="left-align">Get real time stats on your expenses. With our cutting edge technology, you are able to get a visual representation of where and how much you have spent. Insert in your budget for the month, and let us help you save some money!</p>
    </div>
    <div class="col s3"></div>
    <div class="col s3"><img src= "https://cotswoldcanals.com/wp-content/uploads/2018/08/New-Inn-Google-Map.jpg"></div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://www.expatica.com/nl/wp-content/uploads/sites/3/2018/11/shutterstock_538414810-1200x675.jpg"></div>
  </div>
  <div class="section white">
    <div class="row">
    <div class="col s8">
      <img src="https://pictures.dealer.com/m/mclartyfordfd/1918/76fef9a7fa299580a5b38020c272063ex.jpg?impolicy=downsize&w=568">
    </div>
    <div class="col s4">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3 left-align">
        Some reviews from our valued users
      </p>
      <p><i class="left-align">"This app has absolutely changed my life!" - Jacob</i></p>
      <p><i class="left-align">"I'm finally able to buy a house!" - Wilson</i></p>
     <p><i class="left-align">"With this app I was able to pay for my kids college!" - Martha</i></p>
    </div>
    </div>
  </div>
</div>
<script src="/js/index.js"></script>