{{!-- <h1>HOME PAGE</h1> --}}

{{!-- <h1 id="heroText">Financr</h1> --}}
<div class="parallax-container">
  <div class="parallax"><img src="/img/finance_budget.jpg"></div>
</div>
<div class="section white ">
  <div class="row">
    <div class="col s12 m12 l6 left-align">
      <h2 class="header">FINANCR</h2>
      <p class="grey-text text-darken-3 lighten-3 left-align ">
        Financr is an expense tracking application.
      </p>
      <p class="left-align">Get real time stats on your expenses. With our cutting edge
        technology, you are able to get a visual representation of where and how much
        you have spent. Insert in your budget for the month, and let us help you save
        some money!</p>
    </div>
    <div class="col s12 m12 l6 right-align">
      <img class="heroImg" src="/img/New-Inn-Google-Map.jpg"></div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/img/shutterstock_538414810-1200x675.jpg">
  </div>
</div>
<div class="section white">
  <div class="row">
    <div style="text-align: left; width: 100%;" class="col s12">
      <img class="heroImg" src="/img/customerReview.jpg">
    </div>
    <div style="text-align: center;" class=" col s12">
      <h2 class="header">Reviews</h2>
      <p class="grey-text text-darken-3 lighten-3 center-align">
        Some reviews from our valued users
      </p>
      <p><i class="left-align">"This app has absolutely changed my life!" - Jacob</i>
      </p>
      <p><i class="left-align">"I'm finally able to buy a house!" - Wilson</i></p>
      <p><i class="left-align">"With this app I was able to pay for my kids college!" -
          Martha</i></p>
    </div>
  </div>
</div>



<script src="/js/index.js"></script>