<div id="top">
	<p>
		<span id="text"> Welcome, {{username}}</span>
		<select id="selectday">
			<option value="day">Day</option>
			<option value="week">Week</option>
			<option value="month">Month</option>
		</select>
		<p>

</div>
<h4 id="textdata">Your Expenses</h4>



<div id="chartDiv">
	<section id="piechart">
		<canvas id="mychart"></canvas>
	</section>


	<section id="linechart">
		<canvas id="mychart1"></canvas>
	</section>

	<section id="doghnutchart">
		<canvas id="mychart2"></canvas>
	</section>
</div>