<h4>Welcome, {{username}} {{id}} </h4>
<div id="chartdiv">
    <section id="piechart">
        <canvas id="mychart"></canvas>
    </section>


    <section id="linechart">
        <canvas id="mychart1"></canvas>
    </section>

    <section id="doghnutchart">
        <canvas id="mychart2"></canvas>
    </section>
</div>