<div id="top">
	<span id="text"> Welcome, {{username}}</span>
	<div class="selectDiv input-field">
		<select id="selectday">
			<option value="" disabled selected>Select Date Range</option>
			<option value="day">Day</option>
			<option value="week">Week</option>
			<option value="month">Month</option>
		</select>
	</div>
</div>
<h4 id="textdata">Your Expenses</h4>



<div id="chartDiv">
	<section id="piechart">
		<canvas id="pie"></canvas>
	</section>

	<section id="linechart">
		<canvas id="bar"></canvas>
	</section>

	<section id="doghnutchart">
		<canvas id="doughnut"></canvas>
	</section>
</div>