<h1>REGISTER PAGE</h1>

<div class="container">
	<div class="row">
		<form action="/api/auth/register" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input required name="username" id="username" type="text"
						class="validate">
					<label for="username">Username</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input required name="password" id="password" type="password"
						class="validate">
					<label for="password">Password</label>
				</div>
			</div>
			<button type="submit" id="submit"
				class="waves-effect waves-light btn-small"><i
					class="material-icons right">send</i>Submit</button>
		</form>


	</div>
</div>
<script src="/js/register.js"></script>