.list-group-item {
  line-height: 2.5;
}

#weatherMap {
  text-align: center;
  width: 75%;
  height: 40em;
}

.map-container {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10em;
}

body {
  background-color: #f3f1ef;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: #011229;
}

.page-footer {
  background-color: #313131;
}
