.list-group-item {
  line-height: 2.5;
}

#weatherMap {
  text-align: center;
  width: 75%;
  height: 40em;
}

.map-container {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10em;
}

body {
  background-color: #f3f1ef;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: #011229;
}

.page-footer {
  background-color: #313131;
}

#logo {
  height: 2em;
}

#heroText {
  color: white;
  position: absolute;
  margin-left: 1em;
}

canvas#mychart {
  height: 168px;
  width: 337px;
}

#linechart {
  height: 250px;
  width: 60%;
  border: 2px solid black;
  margin: 0%;
  padding: 0%;
  margin-left: 20px;
}

#chartdiv {
  display: flex;
  float: left;
}

#piechart {
  height: 250px;
  width: 400px;
  border: 2px solid black;
}

#mychart2 {
  margin: 0%;
  padding: 0%;
  width: 100%;
  border: 2px solid orange;
  height: 320px;
}

#doghnutchart {
  height: 250px;
  width: 400px;
  border: 2px solid black;
}
