.list-group-item {
  line-height: 2.5;
}

#weatherMap {
  text-align: center;
  width: 75%;
  height: 40em;
}

.map-container {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10em;
}

body {
  background-color: #f3f1ef;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: #011229;
}

.page-footer {
  background-color: #313131;
}

#logo {
  height: 2em;
}

#heroText {
  color: white;
  position: absolute;
  margin-left: 1em;
}

#linechart {
  box-shadow: 0px 2px 2px grey;
  width: 30%;
  margin-left: 30px;
}

#chartdiv {
  display: flex;
  margin-top: 20px;
}

#textdata {
  text-align: center;
}

#piechart {
  box-shadow: 0px 2px 2px grey;
  margin-left: 50px;
  width: 30%;
}

#mychart2 {
  margin: auto;
}

#doghnutchart {
  box-shadow: 0px 2px 2px grey;
  margin-left: 30px;
  width: 30%;
}

.parallax-container .parallax img {
  opacity: 1;
}
